# DSC 80 Final, Version A
## Fall 2019

In [1]:
import numpy as np
import pandas as pd
import re
from bs4 import BeautifulSoup

### Question 1

- a) B, D


- b) A, D


- c) B, C


- d) A, D


- e) A, C


- f) A, C


- g) C, D


- h) A, D


- i) A, B


- j) B, C

In [ ]:
# a) I like apples - I(1) like(1) apples(1) he(0) hates(0) cats(0)
# b) He hates cats -

### Question 2

**a)**

pattern = `'\d{1,4}\s[A-Za-z]+\s[a-z]{2}\.'`

Match 1 to 4 numbers, space, one or more alphabets, space, 2 lower alphabets, fullstop

Ans: A, C

**b)**

pattern = `'done!?$'`

`?` represents the previous character is optional, `$` represents end of string. 
So, it maches anything that ends with `'done'` or `'done!'`

Ans: A, C

**c)**

In [6]:
pattern = '^(-|\+)?[0-9]+\s?(-|\+)\s?[0-9]+$'
inputs = ['33 + 44', '33 - 44', '-33+44', '33+ 44', '33.0 + 44', '33 * 44', '33']
[re.search(pattern, input) for input in inputs]

[<re.Match object; span=(0, 7), match='33 + 44'>,
 <re.Match object; span=(0, 7), match='33 - 44'>,
 <re.Match object; span=(0, 6), match='-33+44'>,
 <re.Match object; span=(0, 6), match='33+ 44'>,
 <re.Match object; span=(0, 9), match='33.0 + 44'>,
 None,
 None]

**d)**

In [8]:
pattern = 'ASAP|asap'
re.sub(pattern, 'as soon as possible', 'come asap') == 'come as soon as possible'

True

In [7]:
# Asap
# asaP
# [Aa][Ss][Aa][Pp]

### Question 3

**a)**

In [18]:
# html
#     | head
#         | title
#     | body
#         | h1
#         | div
#             | p
#             | a
#         | h2
#         | div
#         | img
#         | p

**c)**

In [8]:
with open("html_page.html") as fp:
    soup = BeautifulSoup(fp, "html.parser")
soup

<html>
<head>
<title> Building DOM </title>
</head>
<body>
<h1> The fun is about to begin </h1>
<div name="myDiv">
<p>I need to say something here</p>
<a href="http://TakeMeToChurch.html">lalala</a>
</div>
<h2> The fun never happened </h2>
<div name="myDiv">
</div>
<img src="final.gif"/>
<p> This is another paragraph </p>
</body>
</html>

In [10]:
div = soup.find('div' )
div

<div name="myDiv">
<p>I need to say something here</p>
<a href="http://TakeMeToChurch.html">lalala</a>
</div>

**d)**

In [14]:
div = soup.find_all('div', attrs={'name' : 'myDiv'})
div[0].find('p').text

'I need to say something here'

### Question 4

In [15]:
trips = pd.DataFrame({
    'student': ['A1', 'A2', 'A3'],
    'type': ['car', 'train', 'train'],
    'dest': ['SFO', 'LA', 'SFO'],
    'miles': [120.5, 60.8, 180.3],
    'departure': ['2019-12-14 13:07:32', '2019-12-15 14:08:43', '2019-12-11 11:23:43']
})
trips

  student   type dest  miles            departure
0      A1    car  SFO  120.5  2019-12-14 13:07:32
1      A2  train   LA   60.8  2019-12-15 14:08:43
2      A3  train  SFO  180.3  2019-12-11 11:23:43

In [22]:
# a) # exclusive OR operation
trips[(trips['type']=='train') != (trips['dest']=='LA')]

  student   type dest  miles            departure
2      A3  train  SFO  180.3  2019-12-11 11:23:43

In [23]:
trips[(trips['type']=='train') != (trips['dest']=='LA')].shape[0]

1

In [16]:
# b) 
trips.sort_values('departure').iloc[0,0]

'A3'

In [18]:
# c) d)
trips['type'].value_counts(normalize=True)

train    0.666667
car      0.333333
Name: type, dtype: float64

In [26]:
# e)
trips.groupby('type')['miles'].agg(['min', 'max'])

         min    max
type
car    120.5  120.5
train   60.8  180.3

In [27]:
# f)
dest_types = trips.groupby('dest')['type'].agg(['nunique'])
dest_types.sort_values('nunique', ascending=False).index[0]

'SFO'

In [28]:
# g)
# NMAR - Missingness depends on itself. Students didn't report who started late; 
# Campus didn't capture info initially when holidays started

In [29]:
types = pd.DataFrame({
        'type': ['bus', 'train', 'car'],
        'mph': [45, 60, 57]
})

In [30]:
# h)
# Left join the types data using pd.merge
# calculate total_travel_hrs = miles / mph
# create arrival_dt_time = dept_dt_time + total_travel_hrs (pd.departure + pd.timedelta(hours=total_travel_hrs))
# sort by arrival_dt_time in descending order and pick the top student

In [31]:
# i)
df = pd.merge(trips, types, how ='left', on='type')
df['travel_hrs'] = df['miles'] / df['mph']
df['arrival'] = pd.to_datetime(df['departure']) + pd.to_timedelta(df['travel_hrs'], unit='hour')
df.sort_values('arrival', ascending=False).iloc[0,0]

'A2'

### Question 5

**a)**

TF-IDF can be zero in every document if IDF is zero.

`IDF = log(total # docs/ # docs the term is present)`

IDF is zero if a term is present in all documents - `it`, `was`, `the` , `of`, `,`

**b)**

We will first get IDF values

`it = 0, was = 0, the = 0, of = 0, best = log(4/1) = 1.386, times = log(4/2) = 0.693, 
worst = 1.386, age = 0.693, wisdom = 1.386, foolishness = 1.386`

Calculate `tf-idf` for each term in each document and take the word with maximum value

Since tf is 1 for each word in each document, the deciding factor is idf

Hence the answer is - `best`, `worst`, `wisdom`, `foolishness`

Note: IF-IDF is very intuitive metric that you must be guessing the answer before mathematically calculating for each token

- Note that sklearn IDF calculation includes smoothening

- `IDF = log(N+1 / df+1) + 1 (instead of log(N/df))`

**c)**

`was`, `of`, `,`, `the` - all indicate unigram language model. 

There is no evidence of `n-1` or `n-2` word dependence, hence not bi-gram or tri-gram model

Uniform LM can also be eliminated since we see high probable words more frequent than low probable ones.

### Question 6

In [11]:
%%html
<style>
table {align:center;display:block}
</style>

| responser_id | response |
| --- | --- |
| 0 | strongly disagree |
| 1 | strongly agree |
| 2 | disagree |
| 3 | neutral |
| 4 | neutral |

Note that the possible responses are: `strongly disagree`, `disagree`, `neutral`, `agree`, `strongly agree`

#### One Hot Encoding
We give the above list to `categories` in `OneHotEncoder`

| | | | | | |
| --- | --- | --- | --- | --- | --- |
| 0 | 1 | 0 | 0 | 0 | 0 |
| 1 | 0 | 0 | 0 | 0 | 1 |
| 2 | 0 | 1 | 0 | 0 | 0 |
| 3 | 0 | 0 | 1 | 0 | 0 |
| 4 | 0 | 0 | 1 | 0 | 0 |

#### Ordinal Encoding
We give the above list to `categories` in `OrdinalEncoder`

| | |
| --- | --- |
| 0 | 0 |
| 1 | 4 |
| 2 | 1 |
| 3 | 2 |
| 4 | 2 |

#### Distance

**False** - The distance between 1-4 is greater in Ordinal as there is one additional level in between as one_hot treats all levels equally and distance between any two different levels is same

### Question 7

In [14]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Defining feature sets
nominal_cols = ['type', 'dest']
date_cols = ['dept']
numerical_cols = ['miles']
output_col = ['OnTime']

# Defining feature transformation for each feature set
nominal_pipeline = Pipeline([
    ('onehot', OneHotEncoder(handle_unknown = 'ignore'))
])

date_pipeline = Pipeline([
    ('time2unix', FunctionTransformer(time2unix)), #assume it returns numerical data
    ('std_scaling', StandardScaler())
])

numerical_pipeline = Pipeline([
    ('std_scaling', StandardScaler())
])

# Composing all transformations
feats = ColumnTransformer([
    ('nonimal', nominal_pipeline, nominal_cols),
    ('time', date_pipeline, date_cols),
    ('numerical', numerical_pipeline, numerical_cols),
])

# Creating a classifier pipeline
clf = DecisionTreeClassifier()

p1 = Pipeline([
    ('feats', feats),
    ('clf', clf)
])

X_train, y_train, X_test, y_test = train_test_split(trips[nominal_cols+date_cols+numerical_cols], 
                                                    trips[output_col], test_size=0.3, random_state=42)

### Question 8

In [ ]:
p1 = Pipeline([('preproc', preproc_pl), ('clf', clf)])

X_train, y_train, X_test, y_test = train_test_split(data.drop('y', axis=1), data['y'], test_size=0.3, random_state=42)

p1.fit(X_train, y_train)

p1.score(X_test, y_test)